{% extends 'base.html' %}
{% block content %}

<h1>Store - {{ store.title }}</h1>

<strong>Address:</strong> {{ store.address }}

<h2>Items</h2>

<div class="items">
    {% for item in store.items %}
    <div class="item-details">
        <a href="/item/{{ item.id }}"><img src="/static/img/{{item.name}}.png" alt="{{ item.name }}" width="200px">
        <p><strong>{{ item.name }}</strong></p></a>
        <p><strong>Price: ${{ item.price }}</strong></p>
    </div>
    {% endfor %}
</div>


<h2>Edit Store</h2>

<form method="POST">
    <fieldset>
        <legend>Please enter your information:</legend>

            {{ gameGarageForm.csrf_token() }}

            {{ gameGarageForm.title.label() }}
            {{ gameGarageForm.title() }}
            
            {{ gameGarageForm.address.label() }}
            {{ gameGarageForm.address() }}
            
            {{ gameGarageForm.submit_button() }}

        </fieldset>
</form>

{% endblock %}